{% extends "base.html" %}

{% block corpo %}

    <!-- Coisa para ter no meio -->
    <div class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="card text-black">
            
            <div class="card-header">
                <h2> Trabalho de python </h2>
            </div>

            <div class="card-body">
                <div class="row">

                    <div class="col-md-12">
                        <a href="{{ url_for("register") }}" class="btn btn-info">
                            Cadastrar-se
                        </a>
                    </div>

                </div>
            </div>

        </div>
    </div>

{% endblock corpo %}